.login-form {
    margin: auto;
    padding: 20px 20px;
    width: 10%;
    border-radius: 10px;

    text-align: center;

    background-color: lightblue;
}

.login-form button {
    padding: 5px;
}

.login-form input, button {
    margin-bottom: 15px;
}