/* user list css */

.resto-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .resto-list li {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
  }
  
  .resto-list li span {
    display: block;
    text-align: center;
  }